DTD/dtd_luna_miel.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generado con XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<!ELEMENT Hotel (#PCDATA)>
<!ELEMENT lugar (Destino, Hotel, fotografia)>
<!ATTLIST lugar
	viaje (1 | 10 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9) #REQUIRED
>
<!ELEMENT Destino (#PCDATA)>
<!ELEMENT fotografia (#PCDATA)>
<!ELEMENT Luna_de_miel (lugar+)>
